@import "materialize";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$ctaColor: #dd5d8b;
$gradientTop: #051420;
$gradientBottom: #362771;
$cardBackground: #3b3494;
$testimonialCardBackground: #1f1740;
$navHeight: 64px;

@mixin flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  font-family: "Open Sans", sans-serif;

  .scramble {
    @media #{$large-and-up} {
      font-family: "Libre Barcode 39", "Open Sans", sans-serif;
    }
  }
}

.navbar-fixed {
  nav {
    background-color: $gradientTop;
    box-shadow: none;

    ul {
      padding-right: 25px;

      li.highlight {
        background-color: $ctaColor;
      }

      a {
        text-decoration: none;
      }
    }

    .brand-logo {
      a {
        padding: 0px 25px;
      }
      img {
        transition: all 0.2s ease-in-out;

        display: block;
        height: 40px;
        margin-top: calc((#{$navHeight} - 40px) / 2);
      }
      @media #{$large-and-up} {
        margin-left: 50px;
        img.hide-for-scroll {
          opacity: 0;
          margin-left: 15px;
        }
      }
    }
  }
}

section {
  h3 {
    padding-top: 250px;
  }
}

.container-top {
  background-image: linear-gradient($gradientTop, $gradientBottom);
  height: 2200px;

  @media #{$large-and-up} {
    height: 2500px;
  }

  .title-container {
    @include flex-column-center();
    height: calc(100vh - #{$navHeight});

    .text-container {
      @include flex-column-center();
      margin-top: -150px;

      .text-top {
        @include flex-row-center();
        align-items: baseline;
        flex-wrap: wrap;

        .text-top-right-group {
          @include flex-row-center();
          align-items: baseline;
        }

        h1 {
          font-family: "Open Sans Condensed", sans-serif;
          margin: 0px;
          font-size: 3.2rem;
          @media #{$medium-and-up} {
            font-size: 4.2rem;
          }
          @media #{$large-and-up} {
            font-size: 8rem;
          }
        }
      }

      .text-bottom {
        text-align: center;
      }

      img {
        margin-right: 5px;
        margin-left: 10px;
        height: 30px;

        @media #{$large-and-up} {
          height: 65px;
          margin-left: 25px;
        }
      }
    }
  }

  .fish-container {
    @include flex-column-center();
    margin: 0 auto;
    position: relative;
    width: 300px;

    @media #{$large-and-up} {
      width: 600px;
    }

    .mom {
      margin-top: -50px;
      width: 150px;
      z-index: 2;
      @media #{$large-and-up} {
        margin-top: -150px;
        width: 470px;
      }
    }
    .baby {
      transition: all 1s ease-in-out;
      bottom: 0px;
      position: absolute;
      width: 60px;
      z-index: 1;
      right: 50px;
      transform: rotate(20deg);

      &.hide-for-scroll {
        right: 120px;
        transform: rotate(40deg);
      }

      @media #{$large-and-up} {
        right: 0px;
        width: 200px;

        &.hide-for-scroll {
          right: 175px;
          transform: rotate(40deg);
        }
      }
    }
  }

  .team-container {
    width: 90%;

    .section-title {
      margin-bottom: 120px;
    }

    .card-container {
      @include flex-column-center();
      height: 600px;
    }

    .bob-card {
      @include flex-column-center();
      transition: transform 0.3s ease-in-out;

      background-color: $cardBackground;
      box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.5);
      height: 490px;
      justify-content: flex-start;
      margin: 0px 15px;
      position: relative;
      transform: scale(0.75);

      @media #{$medium-and-up} {
        height: 550px;
      }

      .avatar {
        height: 150px;
        margin-top: 10px;

        @media #{$medium-and-up} {
          height: 220px;
          margin-top: 30px;
        }
      }

      .ipre {
        height: 40px;
        position: absolute;
        top: 3px;
        right: 5px;
      }

      p {
        margin: 0px;
      }

      .title {
        align-self: flex-start;
        margin: 10px 0px 0px 10px;
      }

      .name {
        margin: 15px 0px;
      }

      .text {
        height: 135px;
        margin: 0px 15px 15px 15px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .slick-current {
      .bob-card {
        transform: scale(1);
      }
    }
  }
}

.container-bottom {
  background-image: linear-gradient($gradientTop, $gradientBottom);
  min-height: 2500px;

  .section-title {
    margin: 0px;
  }

  .testimonials-container {
    .testimonial-card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 100px;

      .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .testimonial-card {
          background-color: $testimonialCardBackground;
          border-radius: 12px;
          box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.5);
          margin: 5%;
          width: 90%;

          @media #{$large-and-up} {
            margin: 25px;
            width: 400px;
          }

          img {
            margin: 15px 0px 0px 15px;
            width: 33px;
          }

          .text {
            margin: 0px;
            padding: 15px 15px 15px 45px;
          }

          .author {
            font-weight: bold;
            margin: 0px;
            padding: 15px 15px 20px 45px;
          }
        }
      }
    }
    button {
      display: block;
      margin: 50px auto 0px auto;
    }
  }

  .testimonial-form-container {
    padding-bottom: 100px;

    form {
      margin-top: 120px;
    }

    .materialize-textarea {
      min-height: 12rem;
    }

    button {
      width: 100%;

      &.success {
        background-color: $success-color;
      }
    }

    .error-text {
      color: $error-color;
      height: 25px;
    }
  }
}

.container-credits {
  background-image: linear-gradient($gradientTop, $gradientBottom);

  .section-title {
    margin: 0px;
    padding-bottom: 105px;
  }

  p {
    margin: 15px 0px 0px 0px;
  }

  .tag {
    margin-top: 200px;
    padding-bottom: 15px;
  }

  img {
    vertical-align: middle;
    width: 30px;
  }

  em {
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }
}

.modal {
  img {
    margin: 30px 0px 15px 0px;
    width: 90px;
  }
}
