@import "materialize";

$gradientTop: #051420;
$gradientBottom: #362771;
$navHeight: 64px;

@mixin flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-fixed {
  nav {
    background-color: $gradientTop;
    box-shadow: none;

    ul {
      padding-right: 25px;
    }

    .brand-logo {
      a {
        padding: 0px 25px;
      }
      img {
        transition: all 0.2s ease-in-out;

        display: block;
        height: 40px;
        margin-top: calc((#{$navHeight} - 40px) / 2);
      }
      @media #{$large-and-up} {
        margin-left: 50px;
        img.hide-for-scroll {
          opacity: 0;
          margin-left: 15px;
        }
      }
    }
  }
}

.container-top {
  background-image: linear-gradient($gradientTop, $gradientBottom);
  height: 3000px;

  .title-container {
    @include flex-column-center();
    height: calc(100vh - #{$navHeight});

    .text-container {
      @include flex-column-center();
      margin-top: -150px;

      .text-top {
        @include flex-row-center();
      }
      h1 {
        margin: 0px;
      }

      img {
        height: 30px;
        margin: 16px 5px 0px 16px;
      }
    }
  }

  .fish-container {
    @include flex-column-center();
    margin: 0 auto;
    position: relative;
    width: 550px; // FIXME: Fix this on mobile
    .mom {
      margin-top: -150px;
      width: 300px; // FIXME: Fix this
      z-index: 2;
      @media #{$large-and-up} {
        width: 470px;
      }
    }
    .baby {
      transition: all 1s ease-in-out;
      bottom: 0px;
      position: absolute;
      width: 200px;
      z-index: 1;
      right: 0px;
      transform: rotate(20deg);

      &.hide-for-scroll {
        right: 175px;
        transform: rotate(40deg);
      }
    }
  }
}
